* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-nav {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.left-nav a {
    text-decoration: none;
}

.aesthetic {
    font-size: 70px;
    color: #73a7a2;
}

.medspa {
    font-size: 40px;
    color: #505356
}

.middle-nav {
    display: flex;
    flex-direction: row;
}

.middle-nav ul{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.middle-nav ul li {
    font-size: 19px;
    margin: 1rem;
    text-transform: uppercase;
    list-style: none;
}

.middle-nav ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.middle-nav ul li a:hover {
    color: #73a7a2;
}

.dropdown-treatments {
    position: absolute;
    visibility: hidden;
}

ul .dropdown-treatments li a {
    color: white;
}
ul .dropdown-treatments li a:hover {
    color: #8bf3e3;
}   

.menu-treatments:hover .dropdown-treatments {
    visibility: visible;
    background-color: #73a7a2;
    color: white;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.dropdown-shop {
    position: absolute;
    visibility: hidden;
}
ul .dropdown-shop li a {
    color: white;
}

ul .dropdown-shop li a:hover {
    color: #8bf3e3;
} 

.menu-shop:hover .dropdown-shop {
    visibility: visible;
    background-color: #73a7a2;
    color: white;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.right-nav {
    padding: 25px;
}

.right-nav button {
    padding: 15px;
    font-size: 20px;
    background-color: #73a7a2;
    color: white;
    border: none;
    cursor: pointer;
}

.right-nav button:hover {
    background-color: white;
    color: #73a7a2;
    border: black solid 1px;
}

.first-section {
    background-image: url(/images/woman.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1500px;
}

.first-section-content {
    padding: 100px;
    color: white;
    font-size:35px;
    text-align: end;
}

.top {
    font-size: 80px;
    font-weight: 200;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 40px;
}

.middle {
    margin-bottom: 40px;
}

.bottom button {
    font-size: 35px;
    padding: 20px;
    color: #73a7a2;
    border-radius: 25px;
}

.bottom button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 35px;
    position: relative;
    top: 400px;
    padding-right: 20px;
}

.options a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.options a img {
    width: 300px;
    height: 265px;
    border-radius: 25px;    
}

.options a h2 {
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    align-content: center;
    padding: 10px;
    width: 300px;
    position: relative;
    top: -55px;
}

.options a h2:hover {
    color: #73a7a2;
}

.treatments-a {
    display: flex;
    justify-content: end;
    align-content: end;
    color: white;
    background-color: #73a7a2;
    border-radius: 25px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    text-transform: capitalize;
    padding-right: 20px;
    position: relative;
    top: 380px;
    left: 900px;
}

.treatments-a:hover {
    color: #73a7a2;
    background-color: white;
    border: 1px solid #73a7a2;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    background-color: #73a7a2;
    color: white;
    font-size: 30px;
}

.capitalize {
    text-transform: capitalize;
}