* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-nav {
    padding: 15px;

    display: flex;
    flex-direction: column;
}

.aesthetic {
    font-size: 70px;
    color: #73a7a2;
}

.medspa {
    font-size: 40px;
    color: #505356
}

.middle-nav {
    display: flex;
    flex-direction: row;
}

.middle-nav ul{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.middle-nav ul li {
    font-size: 19px;
    margin: 1rem;
    text-transform: uppercase;
    list-style: none;
}

.middle-nav ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.middle-nav ul li a:hover {
    color: #73a7a2;
}

.dropdown-treatments {
    position: absolute;
    visibility: hidden;
}

ul .dropdown-treatments li a {
    color: white;
}
ul .dropdown-treatments li a:hover {
    color: #8bf3e3;
}   

.menu-treatments:hover .dropdown-treatments {
    visibility: visible;
    background-color: #73a7a2;
    color: white;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.dropdown-shop {
    position: absolute;
    visibility: hidden;
}
ul .dropdown-shop li a {
    color: white;
}

ul .dropdown-shop li a:hover {
    color: #8bf3e3;
} 

.menu-shop:hover .dropdown-shop {
    visibility: visible;
    background-color: #73a7a2;
    color: white;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.right-nav {
    padding: 25px;
}

.right-nav button {
    padding: 15px;
    font-size: 20px;
}